<main>

    <div class="box" #box>

        <div class="form-box login">

            <form [formGroup]="LoginForm" (ngSubmit)="loginSubmit()">

                <h1>Login</h1>

                <div class="input-box">
                    
                    <!-- Username input -->
                    <div class="input-field">
                        <input type="text" placeholder="Username" formControlName="username">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>

                    <!-- Handling username input -->
                    <div *ngIf="LoginForm.get('username')?.invalid && LoginForm.get('username')?.touched">
                        <p class="text-danger text-start" *ngIf="LoginForm.get('username')?.errors?.['required']">Username is required.</p>
                    </div>
                    
                </div>
                

                <div class="input-box">

                    <!-- Password input -->
                    <div class="input-field">
                        <input type="password" placeholder="Password" formControlName="password">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </div>

                    <!-- Handling password input -->
                    <div *ngIf="LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched">
                        <p class="text-danger text-start" *ngIf="LoginForm.get('password')?.errors?.['required']">Password is required.</p>
                    </div>

                </div>

                
                <button class="btn" type="submit" [disabled]="LoginForm.invalid">Login</button>
                
            </form>
    
        </div>

        <div class="form-box register">

            <form [formGroup]="RegistrationForm" (ngSubmit)="registrationSubmit()">

                <h1>Registration</h1>

                <!-- Username input div -->
                <div class="input-box">

                    <div class="input-field">
                        <input type="text" placeholder="Username" formControlName="username">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>

                    <!-- Handling username input -->
                    <div *ngIf="RegistrationForm.get('username')?.invalid && RegistrationForm.get('username')?.touched">
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('username')?.errors?.['required']">Username is required.</p>
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</p>
                    </div>
                    
                </div>


                <!-- Email input div -->
                <div class="input-box">
                    
                    <div class="input-field">
                        <input type="email" placeholder="Email" formControlName="email">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </div>

                    <!-- Handling password input -->
                    <div *ngIf="RegistrationForm.get('email')?.invalid && RegistrationForm.get('email')?.touched">
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('email')?.errors?.['required']">Email is required.</p>
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('email')?.errors?.['email']">Enter a valid Email</p>
                    </div>

                </div>


                <!-- Password input div -->
                <div class="input-box">

                    <div class="input-field">
                        <input type="password" placeholder="Password" formControlName="password">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </div>

                    <!-- Handling password input -->
                    <div *ngIf="RegistrationForm.get('email')?.invalid && RegistrationForm.get('password')?.touched">
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('password')?.errors?.['required']">Password is required.</p>
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</p>
                        <p class="text-danger text-start" *ngIf="RegistrationForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one number, and one symbol (e.g., !, $).</p>
                    </div>

                </div>

                <button class="btn" type="submit" [disabled]="RegistrationForm.invalid">Register</button>

            </form>
    
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Hello, Welcome!</h1>
                <p>Don't have an account?</p>
                <button class="btn register-btn" #registerBtn>Register</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Welcome Back!</h1>
                <p>Already have an account?</p>
                <button class="btn login-btn" #loginBtn>Login</button>
            </div>
        </div>

    </div>

</main>